.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container .header{
    left: 20px;
    width: 1120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #F9F9F9;
    border: 2px solid #F9F9F9;
    box-sizing: border-box;
    /* background: red; */

    margin-top: 15px;
    position: relative;
}

.container .header .title-icon{
    left: 20px;
    top: 0px;
    bottom: 0px;
    width: 7px;
    margin: auto;
    height: 25px;
    /* margin: 10px 20px; */
    /* border: 2px solid red; */
    box-sizing: border-box;
    background: #1ABC9C;

    position: absolute;

    /* float: left; */
}

.container .header .title{
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #F9F9F9 ;
    /* background: blue; */
    box-sizing: border-box;
    margin: auto;
    left: 25px;
    color: #999;

    position: absolute;
    /* float: left; */
}

.container .content{
    width: 1120px;
    /* background: blue;
    border: 2px solid red; */
    margin: 30px 20px;
} 

.container table{
    padding-top: 20px;
    width: 900px;
}

.container table tr{
    height: 30px;
    line-height: 30px;
}

.container table th, td{
    border: 1px solid #797979;
    width: 100px;
}

.container table thead tr{
    background:#138974 ;
    color: #F9F9F9;
    font-family: Arial;
    font-size: 20px;
}

.container table tbody tr{
    font-family: Arial;
    font-size: 13px;
}
